#Documentation:  https://mariadb.com/kb/en/server-system-variables/
# Utilisé uniquement en lancement solo
[mysqld]
user					= mysql
#pid-file : fichier de processus MAriaDB
pid-file				= /run/mysqld/mysqld.pid
#socket : fichier de communication(socket) de MariaDB
socket					= /run/mysqld/mysqld.sock
#port use by MariaDB (communication avec wordpress)
port					= 3306
#directory for work / data / temporory data
basedir					= /usr
datadir					= /var/lib/mysql
tmpdir					= /tmp
#Directory for error messages of MariaDB 
lc-messages-dir			= /usr/share/mysql

#adress of communication chan outside-network -> docker-compose.yml
# default: 127.0.0.1
# on ne veut pas que mariadb communique avec l'exterieur(securite, proteger les acces a la base de donnees). qu'avec wordpress. 
# donc 0.0.0.0 == aucune adresse d'ecoute 
bind-address			= 0.0.0.0

#Taille du cache pour MariaDB
query_cache_size		= 16M

#log d'erreur
log_error				= /var/log/mysql/error.log

#dans mysql :encodage utf8mb3 code sur 3 bytes(octets) 
#-> maintenant MariaDB codee sur 4 Bytes(octets) utf8mb4 (permet par exemple d'encoder les nouveaux emoji..)
character-set-server	= utf8mb4
#permet la traduction du utf8mb4
collation-server		= utf8mb4_unicode_ci